@font-face {
  font-family: 'Tilt Neon';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/E21L_d7gguXdwD9LEFY2WCeElCNtd-eBqpHp1TzrkJSmwpj5ndxquXK9.ttf) format('truetype');
}
@font-face {
  font-family: 'WindSong';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/KR1WBsyu-P-GFEW57r95.ttf) format('truetype');
}
