.body,
html,
*{
    background: #00002c;
    color:#fff
}

* {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
      "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
      "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
      monospace;
      font-size: 16px;
  }
  .navbar-nav .nav-link{
    color:#ffc107
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color:#dc3545
}
.navbar-brand {
    color:#0d6efd;
}
section{
    /* height:100vh; */
    padding-top: 5vh;
    padding-bottom: 5vh;
    vertical-align: middle;
    
}
img{
    width:100%;
    max-height: 80vh;
    object-fit: contain;
}

#home h1{
    font-size: 72px;
    
}

.home-content-area{
    padding:5rem 0;
}

.home-btn-area{
    margin-top:5rem
}

.service-card{
    height:100%
}
.project-card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}
.project-card,
.project-card .card-body,
.project-card img,
.project-card h3,
.project-card h5
{
    background: #fff;
}
.project-card .card-body{
    border-radius: 0.375rem;
    text-align: center;
   
}
.project-card img{
    height:5rem;
    width:100%;
    object-fit: contain;
}
.home-skill-area{

}
.home-skill-area img{
    height:5rem;
    width:5rem;
    
    object-fit: contain;
}
.program-card{
  
    background-color: transparent;
    border: 1px solid #ddd;
}
.program-card .card-body{border-radius: 0 0 0.375rem 0.375rem;}
.program-card .card-header{
    background-color: #ddd;
    width: 100%;
}
.program-card i{
    font-size: 13px;
    background: transparent;
    margin-left: 5px;
    
}

